:root {
  --primary-text-color: #212121;
  --second-text-color: #757575;
  --white-color: #ffffff;
  --hover-logo-web-color: #2196f3;
  --logo-studio-color: #000000;
  --temporary-background-color: #808080;
  --button-background-color: #f5f4fa;
}

body {
  background-color: var(--white-color);
  color: var(--primary-text-color);
}

li {
  list-style: none;
}

/* logo */
.logo,
.link,
.mail,
.tel {
  text-decoration: none;
}
.logo-web {
  color: var(--hover-logo-web-color);
}
.logo-studio {
  color: var(--logo-studio-color);
}

/* site-nav */
.site-nav .link {
  color: var(--primary-text-color);
}

.tel,
.mail {
  color: var(--second-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--hover-logo-web-color);
}

.mail:hover,
.tel:hover {
  color: var(--hover-logo-web-color);
}

/* hero */
.hero-title,
.hero-button {
  color: var(--white-color);
  background-color: var(--temporary-background-color);
}

/* section */
.section .section-details {
  color: var(--second-text-color);
}

.sections-subp {
  color: var(--white-color);
  background-color: var(--temporary-background-color);
}

/* footer */
.sections-subp > .mailtel {
  color: rgba(255, 255, 255, 0.6);
}

.developers {
  color: rgba(255, 255, 255, 0.4);
  background-color: var(--temporary-background-color);
}

/* ПОРТФОЛІО */

.link-projects {
  text-decoration: none;
  color: var(--primary-text-color);
}

.filter-name {
  color: var(--second-text-color);
}

.filter-details {
  color: var(--white-color);
  background-color: var(--temporary-background-color);
}

.button .button-portfolio {
  color: var(--primary-text-color);
}

.button .button-portfolio:hover,
.button .button-portfolio:focus {
  color: var(--white-color);
  background-color: var(--hover-logo-web-color);
}
